html, body {
    margin: 0;
    background-color: #f3f3f1;
    font-family: Arial, sans-serif;
    color: #222;
    /* 1. On applique la hauteur minimale sur le viewport */
    min-height: 100vh;
}

body {
    /* 2. On active le mode Flexbox vertical */
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin: 40px;
}

#cart {
    width: 80%;
    margin: auto;
}

.cart-product {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-product img {
    width: 150px;
    height: 180px;
    object-fit: cover;
}

.cart-product h2 {
    font-size: 20px;
}

.cart-product p {
    font-size: 16px;
}

.remove {
    background-color: white;
    border: 1px solid black;
    padding: 10px 15px;
    cursor: pointer;
}

.remove:hover {
    background-color: black;
    color: white;
}

.delete-all {
    background-color: white;
    border: 1px solid black;
    padding: 10px 15px;
    cursor: pointer;
}

.delete-all:hover {
    background-color: black;
    color: white;
}

.checkout {
    background-color: rgb(109, 252, 109);
    padding: 10px 15px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    color: black;
    text-decoration: none;
}

footer {
    /* 3. margin-top: auto pousse le footer au bas de l'écran */
    margin-top: auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(120, 116, 116);
    border-top: 1px solid #ddd;
}

@media (max-width: 700px) {

    #cart {
        width: 90%;
    }

    .cart-product {
        flex-direction: column;
        text-align: center;
    }

    .cart-product img {
        width: 200px;
        height: 230px;
    }
}