/* 1. Configuration de la hauteur globale */
html {
    height: 100%;
}

body {
    background: linear-gradient(#d6d4d4, rgb(131, 130, 130));
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#head {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    
}

#head nav {
    width: fit-content;
}

#head h1 {
    margin: 0;
    font-size: 22px;
}

img {
    width: 60px;
}


.filter {
    width: 100%;
    display: block;

}


#products {
    width: 90%;
    margin: 0 auto 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.product {
    width: 230px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}
.add-to-cart.btn {
    color: white;
    background-color: black;
}

.product-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product h2 {
    font-size: 16px;
    margin: 10px 0 5px;
}

.product p {
    font-size: 14px;
    font-weight: bold;
}

.activeAnim {
    background-color: rgb(26, 245, 26);
}

/* Footer tout en bas */
footer {
    margin-top: auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(120, 116, 116);
    border-top: 1px solid #ddd;
}

#burger-toggle{
    display: none;
}

#head label {
  display: none
}



@media (max-width: 600px) {



    #head {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
    }

    #head label {
        display: block;
        cursor: pointer;
        position: relative;
        width: 30px;
        height: 30px;
    }

    #head label::before {
        position: absolute;
        content: "menu";
        font-family: "Material Icons";
        font-size: 28px;
        color: #000;
        top: 0;
        left: 0;
    }

    /* Ajustement du menu nav */
    #head nav {
        display: none !important;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #eee;
    }

    #burger-toggle:checked ~ nav {
        display: flex !important;
    }

    #burger-toggle:checked ~ label::before {
        content: "close";
    }

    .toolbar {
        flex-wrap: wrap;
    }

    #products {
        gap: 20px;
    }

    .product {
        width: 150px;
    }

    .product-image {
        height: 180px;
    }

    .product h2 {
        font-size: 14px;
    }
    
}