html, body {
    margin: 0;
    padding: 0;
}

#head, #mainNav {
    width: 100%;
    box-sizing: border-box;
}

#mainNav {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background-color: #ffffff; 
    font-weight: 700;
}

#navLogo {
    height: 65px;
    width: auto;
}

.nav-start {
    margin-left: auto;
}


#mainNav a {
    text-decoration: none;
    color: #000000; 
    font-weight: 500;
    transition: color 0.2s ease;
}

#mainNav a:hover {
    color: #777777; 
}