body {
    font-family: 'Roboto', sans-serif;
}

#burger-toggle {
    display: none;
}

/* Masque le bouton burger sur PC */
#head label {
    display: none;
}

/* Mobile : bascule d'affichage */
@media (max-width: 600px) {

    #head label {
        display: block;
        cursor: pointer;
    }

    #head label::before {
        content: "menu";
        font-family: "Material Icons";
    }

    #head nav#mainNav {
        display: none;
        width: 100%;
    }

    #burger-toggle:checked ~ nav#mainNav {
        display: flex;
        flex-direction: column;
    }

    #burger-toggle:checked ~ label::before {
        content: "close";
    }
}

footer {
    margin-top: auto;
    padding: 2% 0;
    text-align: center;
    background-color: rgb(120, 116, 116);
    border-top: 1px solid #ddd;
}


@media (max-width: 768px) {

    main {
        width: 90% !important;
        padding: 0 5% !important;
        margin: 5% auto !important;
    }

    h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    #Payer {
        width: 100% !important;
        padding: 4% 0 !important;
    }

    footer {
        padding: 5% 2%;
    }
}