footer {
    margin-top: auto;
    padding: 2% 0;
    text-align: center;
    background-color: rgb(120, 116, 116);
    border-top: 1px solid #ddd;
}

@media (max-width: 768px) {

    main {
        width: 90% !important;
        padding: 0 5% !important;
        margin: 5% auto !important;
    }

    #checkoutForm, 
    main > div > div {
        width: 100% !important;
        min-width: 100% !important;
        box-sizing: border-box;
    }


    h1 {
        font-size: 1.5rem;
        text-align: center;
    }


    #Payer {
        width: 100% !important;
        padding: 4% 0 !important;
    }

    footer {
        padding: 5% 2%;
    }
}